# Python Related
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.pytest_cache/

# Project Specific Data (IMPORTANT)
# Protect my Data Contract: Don't upload raw or output CSVs to Git
data/*.csv
output/*.csv
logs/*.log

# VS Code & IDEs
.vscode/
.idea/
.DS_Store
Thumbs.db

